:root {
    --dark: #333333;
    --hightlight-text: #AD00FF;
    --dark-black: #2a2a2a;
    --white: #ffffff;
  }
.nav2{
	position: absolute;
	top: 80px;
  left: 0px;
	height: 365px;
  width: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}
.time-inp{
    height: 50px;
    width: 50px;
    padding: 5px;
    position: absolute;

	/* box-sizing: border-box; */
	border: none;
	vertical-align: middle;
	background: var(--dark);
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.37), inset -4px -4px 10px rgba(208, 208, 208, 0.15);
	border-radius: 10px;



	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	font-size: 24px;
	line-height: 29px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
.time-select{
    position: absolute;
    width: 295px;
    height: 140px;
    left: 27px;
    top: 31px;
    display: flex;
    flex-direction: column;
    
    background: var(--dark);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.37), -4px -4px 10px rgba(208, 208, 208, 0.15);
    border-radius: 15px;
  }
  .time{
	position: absolute;
	/* left: 18px; */
	top: 24px;
  }
.hh{
	left: 45px;
}
.mm{
	left: 122px;
}
.ss{
	left: 199px;
}
.check2{
	position: absolute;
	left: 120px;
	top: 56px;
	width: 300px;
}
.always-text{
	position: absolute;
	left: 0px;
	width: 91px;
	height: 25px;
	top: 22px;
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 19px;
	text-align: center;

color: #FFFFFF;
}
.always-switch{
	position: absolute;
	left: 100px;
	top: 0px;
}